
<div class="container">
  <div class="row">
    <div class="col-12">
    <h1>
    Bem vindo, <strong>{{formUser.value.nome}}</strong></h1>
    </div>
    <div class="col-6">
    <form  [formGroup]="formUser">
      <div class="form-group">
        <label for="_id">
          _id
        </label>
        <input class="form-control" type="text" name="_id" formControlName="_id" >
      </div>
      <div class="form-group">
        <label for="nome">
          Nome
        </label>
        <input class="form-control" type="text" name="nome" formControlName="nome" >
      </div>
      <div class="form-group">
        <label for="sobrenome">
          sobrenome
        </label>
        <input class="form-control" type="text" name="sobrenome" formControlName="sobrenome" >
      </div>
      <div class="form-group">
        <label for="email">
          E-mail
        </label>
        <input class="form-control" type="text" name="email" formControlName="email" >
      </div>
      <div class="form-group">
        <label for="telefone">
          Telefone
        </label>
        <input class="form-control" type="text" name="telefone" formControlName="telefone" >
      </div>
      <div class="form-group">
      <button type="button" class="btn" name="button" (click)="salvarUsuario()">
      enviar
      </button>
      </div>

    </form>
  <code>
    <pre>
      {{formUser.value | json}}
    </pre>
  </code>


    </div>
    <div class="col-6">
    </div>
  </div>
</div>
